{% extends 'layout/base.html' %}

{% block container %}

    {% if product %}
    <div class="row">
        {% for p in product %}
        <div class="col-md-3 col-sm-12" style="padding: 1rem;">
            <div class="card">
                <img class="card-img-top" src="{{p.image}}" alt="{{p.name}}">
                <div class="card-body">
                    <h4 class="card-title">{{p.name}}</h4>
                    <p class="card-text">{{p.price}}</p>
                    <a href="/products/{{p.id}}" class="btn btn-primary">Xem chi tiet</a>
                    <a href="#" class="btn btn-danger">Dat hang</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <p class="text-danger">Không có sản phẩm</p>
    {%endif%}

{% endblock %}